@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color: #fff;
    --bg: #212435;
  }

  body {
    background-color: var(--bg);
    color: var(--color);
  }
}
